@use "../abstracts/variables" as a;

.footer {
  background-color: a.$secondary-color;
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
}

.footer-main {
  margin-bottom: 50px;
}

.footer-text {
  font-family: a.$second-font;
  font-size: a.$normal-font-size;
  font-weight: a.$font-light;
  color: a.$white;
  margin-bottom: 15px;
}
.footer-text2 {
  font-family: a.$second-font;
  font-size: 1.2rem;
  font-weight: a.$font-light;
  color: a.$white;
  margin-top: 610px;
}

.footer-con {
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid a.$primary-color;
  width: fit-content;
}

.social-icon {
  color: a.$white;
  min-width: 25px;
}
