@use "../abstracts/variables" as a;

/* ---Mobile Styles--- */
@media (min-width: 345px) {
  .footer-text2 {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

/* ---Tablet Styles--- */
@media screen and (min-width: 768px) {
  .gallery-image {
    img {
      height: 300px;
    }
  }
  .footer {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  .footer-con {
    justify-items: right;
    padding-top: 50px;
  }

  .footer-buttons {
    width: 300px;
  }
  .footer-text2 {
    margin-top: 15px;
  }
}

/* ---Desktop Styles--- */
@media screen and (min-width: 1200px) {
  .scrollup {
    right: 3rem;
  }

  .nav {
    height: 5rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__link {
    font-size: a.$normal-font-size;
  }
  .nav__menu {
    display: flex;
    column-gap: 3rem;
    align-items: center;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .footer-text2 {
    margin-top: 610px;
  }
}
